<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zcx.fast_permission_runtime">

    <application>
        <activity android:name="com.zcx.fast_permission_runtime.activity.PermissionRequestActivity"
            android:theme="@style/translucent" />
    </application>

</manifest>